* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cut {
    min-height: 300vh;
}
.cut__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.cut__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.cut__img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cut__img-1 img {
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    left: 3px;
}
.cut__img-2 img {
    clip-path: polygon(0 0, 100% 0, 100% 100%);
}
.text {
    padding: 50px;
    z-index: -1;
    max-width: 700px;
    margin: -150vh auto 0;
}
.ttt {
    height: 1000px;
    width: 100%;
    background: #000;
}
